.materia {
  padding: 8px;
  margin: 6px;
  border-radius: 6px;
  border: 1px solid #ccc;
  cursor: pointer;
  background-color: #eee;
  transition: all 0.2s ease;
}

.materia:hover {
  background-color: #ddd;
}

.materia.regularizada {
  background-color: #ffeb3b; /* amarillo */
}

.materia.aprobada {
  background-color: #4caf50; /* verde */
  color: white;
}

.grilla {
  display: flex;
  flex-wrap: wrap;
}

.seccion {
  margin-bottom: 2em;
}
